.header{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5rem 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    /* z-index: 1000; */
    background-color: white;
    color: #1e1e1e;
}

.logoContainer{

    margin: 0;
    font-size: larger;
    color: #1e1e1e;
}

.logo{

    font-size: 30px;
    font-weight: 900;
    text-decoration: none;
    color: #1e1e1e;
}

.searchInputContainer{

    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    min-width: 30%;
    flex-wrap: wrap;

}

.searchInputContainer input{

    flex: 1;
    border: none;
    outline: none;
    padding: 4px 8px;
    font-size: calc(14px, 16px, 18px);
    width: 300px;
}

 .search-icon{

    margin-left: 10px;
    cursor: pointer;
}

.nav-icon{

    display: flex;
    gap:35px;
    font-size: 20px;
    font-weight: 600;
}

.heart-icon .cart-icon:hover{

    color: blue;
}

.hamburger-icon{

    font-size: 30px;
    display: none;
}

@media (max-width:600px) {

    .hamburger-icon{

                display: block;
                }

                .nav-icon{

                    display: none;
                }

                .searchInputContainer{
                    display: none;
                }


                .header{

                    display: flex;
                    justify-content: space-between;

                }

                .hamburger-icon{
                    cursor: pointer;
                }
    
}